[Unit]
Description=Wait for GPS fix
After=syslog.target

[Service]
ExecStart=/home/pi/micromamba/envs/slowant/bin/python3 check_fix_gps.py
WorkingDirectory=/home/pi/Desktop/
User=root
SyslogIdentifier=gps_fix_watcher
Restart=always
StandardError=append:/home/pi/Desktop/GPS_log.out
StandardOutput=append:/home/pi/Desktop/GPS_log.out

[Install]
WantedBy=multi-user.target
